@charset "UTF-8";

@font-face {
	font-family: 'SUIT-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

#pBody {
	font-family: 'SUIT-Regular';
	background-color: black;
	color: white;
	text-align: center;
}

#lines {
	width: 70%;
	border: 1px solid white;
	border-radius: 10px;
	padding-top: 7px;
	padding-bottom: 10px;
}

#linesParent {
	display: flex;
	justify-content: center;
	margin-bottom : 5px;
}

#addLine {
	margin-bottom: 3px;
}

#allListParent {
	display: flex;
	justify-content: center;
	margin-bottom: 0px;
}

#allList {
	width: 70%;
	border: 1px solid white;
	border-radius: 10px;
}

#follow {
	justify-content: space-between;
	display: flex;
	padding-left : 20px;
	padding-right : 20px;
	padding-top : 0px;
}


#nickname{
	font-size : 20px;
}

#fCount{
	padding-top : 3px;
}

.plustImg{
	width:30px;
/* 	padding-right:15px; */
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  opacity: 0;
  visibility: hidden;
  transition: .3s linear;
}
#overlay.is-open {
  opacity: 1;
  visibility: visible;
}

img{
	width :80px;
	margin-left:20px;
	margin-right:20px;
}

.myPageHr{
	border: solid 10px red; 
	opacity:1;
}

hr{
	border: solid 10px red; 
	opacity:1;
}

#myFollowing{
	font-family: 'SUIT-Regular';
	font-weight: 700;
	background: none;
	text-align: center;
	cursor: pointer;
	color: white;
	border: 0;
	outline: 0;
}

#myFollowing:hover{
	transform:scale(1.1);
  	transition: transform .2s;
}

a:hover, img:hover{
	transform:scale(1.1);
  	transition: transform .2s;
}

.listPlus{
	display:flex;
	justify-content: space-between;	
	padding-left : 20px;
}
