@charset "UTF-8";
html, body {
	padding-top: 0px;
	background-color: black;
}

.player {
	outline: none;
	border: none;
	border-radius: 0.8rem
}

/* 포스터 겹치기*/
.postermini{ position: absolute; top: 30%; width: 100%; }


.container {
  display: grid;
  background-color : black;
  grid-template-columns: repeat(5, 110px);
  grid-template-rows: repeat(3, 30px);
  column-gap: 10px;
  row-gap: 10px;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  text-align: center;
  color : white;
   margin: 0px;
}

/* 별점주기 */
.star-rating {
  display: absoulte;
  flex-direction: row-reverse;
  font-size:2.1em;
  justify-content:space-around;
  padding:0em;
  text-align:center;
  width:10em;
  margin : 0px;
}


.star-rating input {
  display:none;
}

.star-rating label {
  color:#ccc;
  cursor:pointer;
}

.star-rating :checked ~ label {
  color:#fc0;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color:#fc0;
}


/* 찜하기 */

a{
  text-decoration:none; color:inherit; cursor: pointer;
}
 .right_area .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    
/*     하트위치 조정 */
    width: calc(100vw * (100 / 1920));
    height: calc(100vw * (100 / 1920));

/*     border-radius: 50%; */
/*     border: solid 2px #eaeaea; */
    background-color: #fff;
}

/* 하트 크기 조절 */
.icon.heart img{
    width: calc(100vw * (50 / 1920));
    height: calc(100vw * (50 / 1920));
}

.icon.heart.fas{
  color:red
}
.heart{
    transform-origin: center;
}
.heart.active img{
    animation: animateHeart .3s linear forwards;
}

@keyframes animateHeart{
    0%{transform:scale(.2);}
    40%{transform:scale(1.2);}
    100%{transform:scale(1);}
  }

/* 인포메이션 */

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* 실제 팝업창 */

.popup .popuptext {
  visibility: hidden;
  width: 560px;
  height: 500px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/*팝업뜨고 그 보드 조절 */
.popup .popuptext::after {

  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555;
}

/* 보여주고 안보여주고 시간초 줘서 스르륵  */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* 팝업애니메이션 불투명도 조절하는 코드 */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
